{% extends 'introduction/intro-base.html' %} {% block content %}
<div>
  <h1 class="intro-header">
    Meet ThriveTracker, the Reframe Clone Drink Tracker!
  </h1>
  <div id="intro-wrapper">
    <p>
      The clone is the second iteration of an addiction recovery app called
      ThriveTracker. I am recreating it modeling the app called Reframe, because
      I believe it is the best recovery app on the market.
    </p>
    <div class="reframe-intro-big-icon">
      <img src="../static/images/Reframe-Intro-Phone-Icon.svg" />
    </div>
  </div>
  <button class="continue-button">Get Started</button>
</div>
{% endblock %}
