{% extends 'introduction/intro-base.html' %}

{% block content %}
<div>
  <img class="back-arrow" src="../static/images/Back-Icon.svg" />
  <h1 class="intro-header">Let's start personalizing your daily target</h1>
  <div id="intro-wrapper">
    <div>
      <p>Take us through a typical week. We'll walk through each day together and use this as the baseline for your personalized cutback recommendation.</p>
    </div>
    <div class="reframe-intro-big-icon">
      <img src="../static/images/Calendar-Icon.svg" />
    </div>
  </div>
  <button class="continue-button">Set Target</button>
</div>
{% endblock %}
