{% extends 'introduction/intro-base.html' %}

{% block content %}
<div id="intro-container">
  <img class="back-arrow" src="../static/images/Back-Icon.svg" />
  <div id="intro-wrapper">
    <div id="intro-text">
      <h1>Let's start personalizing your daily target</h1>
      <p>Take us through a typical week. We'll walk through each day together and use this as the baseline for your personalized cutback recommendation.</p>
      <button class="continue-button">Set Target</button>
    </div>
    <div id="calendar-icon">
      <img src="../static/images/Calendar-Icon.svg" />
    </div>
  </div>
</div>
{% endblock %}
