{% extends 'introduction/intro-base.html' %} {% block content %}
<div>
  <img class="back-arrow" src="../static/images/Back-Icon.svg" />
  <div class="intro-header">
    <h1>
      Based on your answers, here's what a typical week looks like for you
    </h1>
    <div id="weekly-breakdown">
      <div class="typical-week-container">
        <img class="typical-week-icon" src="../static/images/Coffee-Icon.svg" />
        <p class="typical-week-text">Dry days per week</p>
        {%if dry_days > 1 or dry_days == 0%}
        <h3 class="typical-week-text">{{ dry_days }} days</h3>
        {%else%}
        <h3 class="typical-week-text">{{ dry_days }} day</h3>
        {%endif%}
      </div>
      <div class="typical-week-container">
        <img class="typical-week-icon" src="../static/images/Wine-Icon.svg" />
        <p class="typical-week-text">Total drinks per week</p>
        {%if drinks_per_week > 1 or drinks_per_week == 0%}
        <h3 class="typical-week-text">{{ drinks_per_week }} drinks</h3>
        {%else%}
        <h3 class="typical-week-text">{{ drinks_per_week }} drink</h3>
        {%endif%}
      </div>
    </div>
    <button class="continue-button">Set Target</button>
  </div>
</div>

{% endblock %}
