body {
    background-image: url('/static/images/Intro-Background-Icon.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Introduction Page */

#back-arrow {
    position: relative;
    padding-bottom: 5rem;
}
#intro-wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.25rem; 
    text-align: center;
  }
  
#intro-text {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#continue-button {
    border: none;
    border-radius: 20px;
    color: white;
    background-color: #213188; 
    padding: 10px 20px; 
    margin-top: 2rem;
}


#reframe-intro-phone-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
}

/* Let's Start Personalizing */
#calendar-icon img {
    max-width: 100%; /* Allow the image to shrink to fit its container */
    height: auto; /* Maintain the aspect ratio */
}

#set-target {
}